/* app styles */

header {
  background: #444;
  color: #fff;
  padding: 20px;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;

  }
  p {
    margin-bottom: 20px;
  }

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

img {
    border-radius: 8px;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.9);
}

.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer {
    background: none repeat scroll 0 0 #444;
    color: white;
    height: auto;
    margin: auto;
    width: 400px;
}
